{% extends 'base-page.html' %}
{% load static %}

{% block container %}

    <h1>My Recipes</h1>

    {% if not is_recipes %}
        <h2>There are no recipes.</h2>
    {% else %}
        {% for recipe in recipes %}
            <div class="items-container">
                <div class="item">
                    <h2>{{ recipe.title}}</h2>
                    <img class="detail-img" src="{{ recipe.image_url }}" alt="recipe-image">
                    <div class="recipe-info">
                        {{ recipe.description }}
                    </div>
                    <div class="buttons-container">
                        <a class="button detail" href="./details.html">Details</a>
                        <a class="button edit" href="{% url "recipe_update" recipe.pk %}">Edit</a>
                        <a class="button delete" href="./delete.html">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock container %}
